<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Site Officiel du Refuge Jeandel. Le refuge Jeandel vous propose une expérience inoubliable au coeur de la Pierre Saint-Martin. Situé dans les Pyrénées, le gite est idéalement placé pour pratiquer toutes sortes d'activités: randonnées, ski, raquettes, marche et bien plus encore!">

    <title>Site Officiel du Refuge JEANDEL, le gite au coeur de la Pierre Saint-Martin (lieu privilégié des randonneurs dans les Pyrénnées)</title>


    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Site Officiel du Refuge JEANDEL">
    <meta property="og:description" content="Le refuge Jeandel vous propose une expérience inoubliable au coeur de la Pierre Saint-Martin. Situé dans les Pyrénées, le gite est idéalement placé pour pratiquer toutes sortes d'activités: randonnées, ski, raquettes, marche et bien plus encore!">
    <meta property="og:image" content="https://beigbederc.github.io/refugejeandel/images/gallerie8-262a1904.jpg">
    <meta property="og:url" content="https://beigbederc.github.io/refugejeandel/fr/index.html">

    <!-- Twitter Card data -->
    <meta name="twitter:title" content="Site Officiel du Refuge JEANDEL">
    <meta name="twitter:description" content="Site Officiel du Refuge Jeandel. Le refuge Jeandel vous propose une expérience inoubliable au coeur de la Pierre Saint-Martin. Situé dans les Pyrénées, le gite est idéalement placé pour pratiquer toutes sortes d'activités: randonnées, ski, raquettes, marche et bien plus encore!">
    <meta name="twitter:image" content="https://beigbederc.github.io/refugejeandel/images/gallerie8-262a1904.jpg">
    <meta name="twitter:card" content="https://beigbederc.github.io/refugejeandel/images/gallerie8-262a1904.jpg">

    <!-- Use the title from a page's frontmatter if it has one -->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>


    <!-- <div class="navbar-wagon"> -->
      <!-- Logo -->
<!--     <% if I18n.locale == :fr %>
      <a href="/fr" class="navbar-wagon-brand">
        <%=image_tag "logo-white.png", height: 30 %>
      </a>
    <% elsif I18n.locale == :en %>
      <a href="/en" class="navbar-wagon-brand">
        <%=image_tag "logo-white.png", height: 30 %>
      </a>
    <% else %>
      <a href="/es" class="navbar-wagon-brand">
        <%=image_tag "logo-white.png", height: 30 %>
      </a>
    <% end %> -->


    <div class="navbar-wagon">
      <!-- Logo -->
    <% if I18n.locale == I18n.default_locale %>
      <a href="/refugejeandel/" class="navbar-wagon-brand">
        <%=image_tag "logo-white.png", height: 30 %>
      </a>
    <% elsif I18n.locale == :en %>
      <a href="/refugejeandel/en" class="navbar-wagon-brand">
        <%=image_tag "logo-white.png", height: 30 %>
      </a>
    <% elsif I18n.locale == :es %>
      <a href="/refugejeandel/es" class="navbar-wagon-brand">
        <%=image_tag "logo-white.png", height: 30 %>
      </a>
    <% end %>

<!-- drapeaux -->
    <!-- <div class="dropdown">
        <i class="dropdown-toggle navbar-wagon-item" data-toggle="dropdown">
        <% if I18n.locale == :fr %>
          <div class="drap3"><%=image_tag "France.png", height: 30 %> </div>
        <% elsif I18n.locale == :en %>
          <div class="drap3"><%=image_tag "UK.png", height: 30 %> </div>
        <% else %>
          <div class="drap3"><%=image_tag "Spain.png", height: 30 %> </div>
        <% end %>
          </i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li class="drapeaux">
            <%= link_to (image_tag "France.png", height: 30), "/fr/#{current_page.path.split('/').last}" %>
            <div class="drap2"> <%= link_to "Français", "/fr/#{current_page.path.split('/').last}" %> </div>
          </li>
          <li class="drapeaux">
            <%= link_to (image_tag "UK.png", height: 30), "/en/#{current_page.path.split('/').last}" %>
            <div class="drap2"> <%= link_to "English", "/en/#{current_page.path.split('/').last}" %> </div>
          </li>
          <li class="drapeaux">
            <%= link_to (image_tag "Spain.png", height: 30), "/es/#{current_page.path.split('/').last}" %>
            <div class="drap2"> <%= link_to "Castellano", "/es/#{current_page.path.split('/').last}" %> </div>
          </li>
        </ul>
      </div> -->


      <div class="dropdown">
        <i class="dropdown-toggle navbar-wagon-item" data-toggle="dropdown">
        <% if I18n.locale == I18n.default_locale %>
          <div class="drap3"><%=image_tag "France.png", height: 30 %> </div>
        <% elsif I18n.locale == :en %>
          <div class="drap3"><%=image_tag "UK.png", height: 30 %> </div>
        <% elsif I18n.locale == :es %>
          <div class="drap3"><%=image_tag "Spain.png", height: 30 %> </div>
        <% end %>
          </i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li class="drapeaux">
            <%= link_to (image_tag "France.png", height: 30), "/refugejeandel/#{current_page.path.split('/').last}" %>
            <div class="drap2"> <%= link_to "Français", "/refugejeandel/#{current_page.path.split('/').last}" %> </div>
          </li>
          <li class="drapeaux">
            <%= link_to (image_tag "UK.png", height: 30), "/refugejeandel/en/#{current_page.path.split('/').last}" %>
            <div class="drap2"> <%= link_to "English", "/refugejeandel/en/#{current_page.path.split('/').last}" %> </div>
          </li>
          <li class="drapeaux">
            <%= link_to (image_tag "Spain.png", height: 30), "/refugejeandel/es/#{current_page.path.split('/').last}" %>
            <div class="drap2"> <%= link_to "Castellano", "/refugejeandel/es/#{current_page.path.split('/').last}" %> </div>
          </li>
        </ul>
      </div>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">

        <% if I18n.locale == I18n.default_locale %>
          <%= link_to "LE REFUGE", "/about.html", class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "PRESTATIONS/TARIFS", "/prestations.html", class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "CONTACT", "/contact.html", class: "navbar-wagon-item navbar-wagon-link" %>
        <% elsif I18n.locale == :en %>
          <%= link_to "THE REFUGE", "/about.html", class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "SERVICES/PRICES", "/prestations.html", class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "CONTACT", "/contact.html", class: "navbar-wagon-item navbar-wagon-link" %>
        <% elsif I18n.locale == :es %>
          <%= link_to "EL REFUGIO", "/about.html", class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "PRESTACIONES Y TARIFAS", "/prestations.html", class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "CONTACTO", "/contact.html", class: "navbar-wagon-item navbar-wagon-link" %>
        <% end %>




        <!-- Profile picture with dropdown list -->
      </div>

      <!-- Dropdown appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <% if I18n.locale == I18n.default_locale %>
              <%= link_to "LE REFUGE", "/about.html", class: "navbar-wagon-item navbar-wagon-link" %>
              <%= link_to "PRESTATIONS/TARIFS", "/prestations.html", class: "navbar-wagon-item navbar-wagon-link" %>
              <%= link_to "CONTACT", "/contact.html", class: "navbar-wagon-item navbar-wagon-link" %>
            <% elsif I18n.locale == :en %>
              <%= link_to "THE REFUGE", "/about.html", class: "navbar-wagon-item navbar-wagon-link" %>
              <%= link_to "SERVICES/PRICES", "/prestations.html", class: "navbar-wagon-item navbar-wagon-link" %>
              <%= link_to "CONTACT", "/contact.html", class: "navbar-wagon-item navbar-wagon-link" %>
            <% elsif I18n.locale == :es %>
              <%= link_to "EL REFUGIO", "/about.html", class: "navbar-wagon-item navbar-wagon-link" %>
              <%= link_to "PRESTACIONES/TARIFAS", "/prestations.html", class: "navbar-wagon-item navbar-wagon-link" %>
              <%= link_to "CONTACTO", "/contact.html", class: "navbar-wagon-item navbar-wagon-link" %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>


    <%= yield %>
  </body>
</html>


