---
title: Le Wagon - Middleman - About (le refuge)
---


<div id="about" style="background-image: url(<%= image_path 'gallerie4.jpg'%>)">

  <div class="container">

      <div class="col-sm-6 col-xs-12">
        <!-- insert <div class="card"> -->
        <div class="opacity3">
          <p> <%= t('le_refuge') %> </p>
<!-- lien lapiaz -->
            <% if I18n.locale == :fr %>
              <p> <%= t('il_est') %>
  "<a href="https://fr.wikipedia.org/wiki/Lapiaz" class="wtf2" target="_blank">lapiaz</a>"
               <%= t('il_est_bis') %> <p>
            <% elsif I18n.locale == :en %>
              <p> <%= t('il_est') %>
  "<a href="https://en.wikipedia.org/wiki/Limestone_pavement" class="wtf2" target="_blank">lapiaz</a>"
               <%= t('il_est_bis') %> <p>
            <% else %>
              <p> <%= t('il_est') %>
  "<a href="https://es.wikipedia.org/wiki/Lapiaz" class="wtf2" target="_blank">lapiaz</a>"
               <%= t('il_est_bis') %> <p>
            <% end %>

          <p> <%= t('il_est2') %> </p>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12">  <!-- col-sm-offset-3  col-xs-12 -->
        <div class="opacity3">

          <h5>
            <%= t('les_lieux') %>
          </h5>

          <h6>
            <%= t('salle') %> <a href="" data-toggle="modal" data-target="#modalSalon"><i class="fa fa-eye"></i></a>
          </h6>

          <h6><%= t('chambre3') %> (<a href="" data-toggle="modal" data-target="#modalChambre3"><i class="fa fa-eye"></i></a>), <%= t('chambre4') %> (<a href="" data-toggle="modal" data-target="#modalChambre4"><i class="fa fa-eye"></i></a>), <%= t('mezza') %> (<a href="" data-toggle="modal" data-target="#modalMezza"><i class="fa fa-eye"></i></a>)</p>

          <h6><%= t('sanitaires') %>  </h6>

          <h6>
            <%= t('bains') %> <a href="" data-toggle="modal" data-target="#modalSdb"><i class="fa fa-eye"></i></a>
          </h6>

          <h6>
            <%= t('cuisine') %> <a href="" data-toggle="modal" data-target="#modalCuisine"><i class="fa fa-eye"></i></a>
          </h6>

          <h6></h6>
          <hr>
          <h5><%= t('groupes') %></h5>
          <h6><%= t('micro') %></h6>
          <h6><%= t('frigo') %></h6>
          <h6><%= t('congelo') %></h6>
          <h6><%= t('fours') %></h6>
          <h6><%= t('plaques') %></h6>
          <h6><%= t('lave') %></h6>
          <h6><%= t('necessaire') %></h6>
        </div>
      </div>

    </div>
</div>



<!-- modales -->

<!-- salon -->
<div class="modal fade" id="modalSalon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="/images/gallerie2.jpg" class="img-responsive img-rounded" style=" max-height: calc(100vh - 140px); min-height: auto; width: 100% ;"  />
        <img src="/images/gallerie7.jpg" class="img-responsive img-rounded" style=" max-height: calc(100vh - 140px); min-height: auto; width: 100% ;"  />
      </div>
    </div>
  </div>
</div>

<!-- chambre3 -->
<div class="modal fade" id="modalChambre3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        modal chambre 3
      </div>
    </div>
  </div>
</div>

<!-- chambre4 -->
<div class="modal fade" id="modalChambre4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        modal chambre 4
      </div>
    </div>
  </div>
</div>

<!-- Mezza -->
<div class="modal fade" id="modalMezza" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        modal mezza
      </div>
    </div>
  </div>
</div>

<!-- sdb -->
<div class="modal fade" id="modalSdb" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        modal sdb
      </div>
    </div>
  </div>
</div>

<!-- cuisine -->
<div class="modal fade" id="modalCuisine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="/images/gallerie2.jpg" class="img-responsive img-rounded" style=" max-height: calc(100vh - 140px); min-height: auto; width: 100% ;"  />
        <img src="/images/gallerie7.jpg" class="img-responsive img-rounded" style=" max-height: calc(100vh - 140px); min-height: auto; width: 100% ;"  />
      </div>
    </div>
  </div>
</div>






