
<div id="prestations" style="background-image: url(<%= image_path 'gallerie6.jpg'%>)">

  <div class="container">


      <div class="col-sm-6 col-xs-12">  <!-- col-sm-offset-3  col-xs-12 -->
        <div class="opacity3">
        <!-- insert <div class="card"> -->
          <h4><strong><%= t('tarifs_ete') %></strong>  <%= t('mai') %></h4>
          <p><%= t('repas') %></p>
          <p><%= t('nuit') %></p>
          <p><%= t('petit') %></p>
          <p><%= t('demi') %></p>
          <p><%= t('nous_avons') %></p>
          <p><%= t('nous_proposons') %></p>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12">
        <!-- insert <div class="card"> -->
        <div class="opacity3">
          <h4><strong><%= t('tarifs_hiver') %></strong>  <%= t('dec') %></h4>
          <p><%= t('location') %></p>
          <p></p>
          <p><strong><%= t('mode') %></strong><%= t('cheque') %></p>
        </div>
      </div>


  </div>
</div>
